<div class="container my-5 col-md-4">
  <h3 class="text-center my-3 display-4 fw-bold">Sign Up</h3>
  <div class="card bg-dark shadow-lg">
    <div class="alert alert-success fw-bold text-center" *ngIf="msg.length > 0">
      {{ msg }}
    </div>
    <div class="card-body">
      <div class="form-group">
        <label for="name" class="text-white py-2">Enter Your Name : </label
        ><input
          id="name"
          minlength="3"
          [(ngModel)]="user.name"
          type="text"
          class="form-control mb-3"
        />
      </div>
      <div class="form-group">
        <label for="email" class="text-white py-2">Enter Your E-mail : </label
        ><input
          id="email"
          [(ngModel)]="user.email"
          type="email"
          class="form-control mb-3"
        />
      </div>
      <div class="form-group">
        <label for="password" class="text-white py-2"
          >Enter Your Password : </label
        ><input
          id="password"
          [(ngModel)]="user.password"
          type="password"
          class="form-control mb-3"
        />
      </div>
      <div class="form-group">
        <label for="repassword" class="text-white py-2">Re Password : </label
        ><input
          id="repassword"
          [(ngModel)]="user.rePassword"
          type="password"
          class="form-control mb-3"
        />
      </div>
      <div class="form-group">
        <label for="phone" class="text-white py-2">Enter Your Phone : </label
        ><input
          id="phone"
          [(ngModel)]="user.phone"
          type="text"
          class="form-control mb-3"
        />
      </div>
      <div class="d-grid">
        <button
          (click)="submit()"
          class="btn btn-outline-light rounded-pill fs-5 my-2"
          type="submit"
        >
          Submit
        </button>
        <a routerLink="/SignIn" class="text-white text-center my-2 fw-bold">I already Have Account</a>
      </div>
    </div>
  </div>
</div>
