<div class="container col-md-6">
  <h3 class="text-center fw-bold my-5">Reset Your Password</h3>
  <div class="card py-4 px-3 shadow-lg text-white bg-dark">
    <div class="form-group">
      <label for="text" class="py-2">Enter Reset Code : </label>
      <input
        id="text"
        [(ngModel)]="restcode"
        type="text"
        class="form-control bg-dark text-white"
      />
    </div>
    <div class="form-group d-grid">
      <button
        class="btn btn-outline-light rounded-pill fs-5 my-2"
        (click)="resetCode()"
      >
        Send Code
      </button>
    </div>
  </div>
</div>
