<app-navbar></app-navbar>
<h3 class="text-center fw-bold my-4">My Addresses</h3>
<div class="container">
  <div class="row">
    <div class="col-md-4 my-3" *ngFor="let item of Addresses">
      <div class="card p-4 shadow bg-dark text-white text-center">
        <h2 class="fs-5">City : {{ item.city }}</h2>
        <hr />
        <h2 class="fs-5">Street Name : {{ item.name }}</h2>
        <hr />
        <h2 class="fs-5">Details : {{ item.details }}</h2>
        <hr />
        <h2 class="fs-5">Phone : {{ item.phone }}</h2>
        <hr />
        <button
          (click)="removeAddress(item._id)"
          class="btn btn-outline-danger mx-auto d-block my-3"
        >
          Remove Address
        </button>
      </div>
    </div>
  </div>
</div>
